
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

img {
    width: 8%;
    height: auto;
}

main {
    min-height: 75vh;
}

.big-box {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.box {
    width: var(--square-size);
    height: var(--square-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn {
    background-color: lightgray!important;
    border-color: black!important;
}

.form-select:focus {
    border-color: #D1E7DD;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #D1E7DD;
}

